[submodule "lab1-src"]
	path = lab1-src
	url = ./lab1-src/
[submodule "lab2-src"]
	path = lab2-src
	url = /homes/panappin/cs252/lab2-src/
[submodule "lab3-src"]
	path = lab3-src
	url = /homes/panappin/cs252/lab3-src/
[submodule "lab5-src"]
	path = lab5-src
	url = /homes/panappin/cs252/lab5-src/
